@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700|Sacramento');
@import './consts';
html,
body,
#root,
.navigator {
  height: 100%;
  font-family: 'Roboto Slab', serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: $light-black;
}

input {
  appearance: none;
  width: 100%;
  border: 0;
  box-shadow: 0 0 5px $light-gray;
  border-radius: 20px;
  padding: 0.5rem;
}

.navbar {
  padding: 1rem;
  padding-bottom: 0.5rem;

  .title {
    font-family: 'Sacramento', cursive;
    font-size: 2rem;
    padding: 1rem 0;
    font-weight: bold;
    padding-bottom: 0.5rem;
  }

  .subtitle {
    font-size: 0.75rem;
    color: $gray;
    position: relative;
    font-weight: lighter;

    span {
      margin: auto;
      display: inline-block;
      position: relative;
      background: white;
      padding-right: 0.5rem;
    }

    &:before {
      content: '';
      position: absolute;
      width: 100%;
      left: 0;
      top: 50%;
      height: 1px;
      transform: translateY(-50%);
      background: $light-gray;
    }
  }
}

.content {
  padding: 0 1rem;
}